# It's Raining Bells, Hallelujah!

## A guide to living large in Animal Crossing: New Horizons

### by Kwame V. Taylor

It's Raining Bells, Hallelujah is data-driven guide to getting rich and staying rich with maximized efficiency on the Nintendo Switch video game, Animal Crossing: New Horizons.

Bells are the currency used in the video game, Animal Crossing: New Horizons. Users can buy and sell items using bells, as well as exchange bells and items with both in-game characters (also known as Non-Playable Characters, or NPCs) and other users.

<img src="https://mcsun.org/wp-content/uploads/2020/05/Banner-Animal-Crossing-New-Horizons.jpg">

## Insects Analysis

### Set up environment

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# default viz size settings
plt.rc('figure', figsize=(9, 7))
plt.rc('font', size=13)

from dateutil import parser
import datetime
import re

### Acquire data

Let's look at insects. I already know that people love to bank big on catching tarantulas and scorpions.

In [125]:
insects = pd.read_csv('insects.csv')

In [126]:
insects.sort_values(by="Sell", ascending=False).head(6)

,#,Name,Sell,Where/How,Weather,Total Catches to Unlock,Spawn Rates,NH Jan,NH Feb,NH Mar,...,SH Oct,SH Nov,SH Dec,Color 1,Color 2,Icon Filename,Critterpedia Filename,Furniture Filename,Internal ID,Unique Entry ID
29,61,giraffe stag,12000,On palm trees,Any weather,100,1,NaN,NaN,NaN,...,NaN,NaN,NaN,Black,Black,Ins77,InsectGirafanokogirikuwagata,FtrInsectGirafanokogirikuwagata,3482,PSChjzMhGwhnsHTs4
30,60,golden stag,12000,On palm trees,Any weather,100,1,NaN,NaN,NaN,...,NaN,NaN,NaN,Black,Yellow,Ins50,InsectOugononikuwagata,FtrInsectOugononikuwagata,638,2C8cSphidFCBPxYEe
39,65,horned hercules,12000,On palm trees,Any weather,100,1,NaN,NaN,NaN,...,NaN,NaN,NaN,Yellow,Black,Ins54,InsectHerakuresuohkabuto,FtrInsectHerakuresuohkabuto,600,TqhEomNEMDZ2wcTpk
65,52,scarab beetle,10000,On trees (any kind),Any weather,50,3,NaN,NaN,NaN,...,NaN,NaN,NaN,Black,Beige,Ins43,InsectPurachinakogane,FtrInsectPurachinakogane,639,2HXdFD8s6BmYYMf4u
27,57,giant stag,10000,On trees (any kind),Any weather,50,5,NaN,NaN,NaN,...,NaN,NaN,NaN,Black,Black,Ins47,InsectOhkuwagata,FtrInsectOhkuwagata,637,KhrTLzayFz23zz2kn
31,54,goliath beetle,8000,On palm trees,Any weather,100,2,NaN,NaN,NaN,...,NaN,NaN,5 PM – 8 AM,Red,Black,Ins55,InsectGoraiasuohtsunohanamuguri,FtrInsectGoraiasuohtsunohanamuguri,596,wZQMZfhtRyPFAapmF

### Prepare data

First I'll set the index to #.

In [127]:
insects = insects.set_index('#')

Then I'll drop some of the columns I won't be using.

In [128]:
insects = insects.drop(columns=['Icon Filename', 'Critterpedia Filename', 'Furniture Filename',
       'Internal ID', 'Unique Entry ID'])

And impute NaNs with 0s for now.

In [129]:
insects = insects.fillna('0')

In [113]:
insects.isna().sum()

Name                       0
Sell                       0
Where/How                  0
Weather                    0
Total Catches to Unlock    0
Spawn Rates                0
NH Jan                     0
NH Feb                     0
NH Mar                     0
NH Apr                     0
NH May                     0
NH Jun                     0
NH Jul                     0
NH Aug                     0
NH Sep                     0
NH Oct                     0
NH Nov                     0
NH Dec                     0
SH Jan                     0
SH Feb                     0
SH Mar                     0
SH Apr                     0
SH May                     0
SH Jun                     0
SH Jul                     0
SH Aug                     0
SH Sep                     0
SH Oct                     0
SH Nov                     0
SH Dec                     0
Color 1                    0
Color 2                    0
dtype: int64

Now I'll check data types.

In [62]:
insects.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80 entries, 10 to 2
Data columns (total 32 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Name                     80 non-null     object
 1   Sell                     80 non-null     int64
 2   Where/How                80 non-null     object
 3   Weather                  80 non-null     object
 4   Total Catches to Unlock  80 non-null     int64
 5   Spawn Rates              80 non-null     object
 6   NH Jan                   80 non-null     object
 7   NH Feb                   80 non-null     object
 8   NH Mar                   80 non-null     object
 9   NH Apr                   80 non-null     object
 10  NH May                   80 non-null     object
 11  NH Jun                   80 non-null     object
 12  NH Jul                   80 non-null     object
 13  NH Aug                   80 non-null     object
 14  NH Sep                   80 non-null     object
 15  NH Oct                   80 non-null     object
 16  NH Nov                   80 non-null     object
 17  NH Dec                   80 non-null     object
 18  SH Jan                   80 non-null     object
 19  SH Feb                   80 non-null     object
 20  SH Mar                   80 non-null     object
 21  SH Apr                   80 non-null     object
 22  SH May                   80 non-null     object
 23  SH Jun                   80 non-null     object
 24  SH Jul                   80 non-null     object
 25  SH Aug                   80 non-null     object
 26  SH Sep                   80 non-null     object
 27  SH Oct                   80 non-null     object
 28  SH Nov                   80 non-null     object
 29  SH Dec                   80 non-null     object
 30  Color 1                  80 non-null     object
 31  Color 2                  80 non-null     object
dtypes: int64(2), object(30)
memory usage: 20.6+ KB

Spawn Rates needs to be an integer.

In [63]:
insects['Spawn Rates'].value_counts()

5       11
2        8
30       7
10       7
60       6
20       6
40       6
50       6
1        4
70       4
0        3
35       2
15       2
25       2
7        2
5–10     1
3        1
200      1
80       1
Name: Spawn Rates, dtype: int64

Because one of the values is a range, I'm going to make it the average of the start and end values rounded to the nearest integer, which is 8.

In [130]:
insects['Spawn Rates'] = insects['Spawn Rates'].where(insects['Spawn Rates'] != '5–10', 8).astype(int)

In [131]:
insects['Spawn Rates'].value_counts()

5      11
2       8
10      7
30      7
20      6
60      6
50      6
40      6
70      4
1       4
0       3
15      2
7       2
25      2
35      2
8       1
200     1
3       1
80      1
Name: Spawn Rates, dtype: int64

In [66]:
insects.head(3)

,Name,Sell,Where/How,Weather,Total Catches to Unlock,Spawn Rates,NH Jan,NH Feb,NH Mar,NH Apr,...,SH May,SH Jun,SH Jul,SH Aug,SH Sep,SH Oct,SH Nov,SH Dec,Color 1,Color 2
#,,,,,,,,,,,,,,,,,,,,,
10,agrias butterfly,3000,Flying near flowers,Any except rain,20,5,0,0,0,8 AM – 5 PM,...,0,0,0,0,0,8 AM – 5 PM,8 AM – 5 PM,8 AM – 5 PM,Pink,Green
69,ant,80,On rotten turnips,Any weather,0,0,All day,All day,All day,All day,...,All day,All day,All day,All day,All day,All day,All day,All day,Black,White
14,Atlas moth,3000,On trees (any kind),Any weather,20,5,0,0,0,7 PM – 4 AM,...,0,0,0,0,0,7 PM – 4 AM,7 PM – 4 AM,7 PM – 4 AM,Orange,Yellow

### Convert appearance durations to timestamps

Now I want to turn the ```NH Jan``` (NH meaning Northern Hemisphere) to ```SH Dec``` (SH meaning Southern Hemisphere) into durational timestamps so I can perform time-series analysis.

I'll use this guide as a reference: https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html

In [ ]:
def convert_duration(df, col):
    df[col + ' Converted'] = pd.date_range('2015-07-03', '2015-07-10')

In [ ]:
# convert strings 'NH Apr' plus '8 AM – 5 PM' to a timestamp... (unless it's a zero perhaps?)

start_time = parser.parse("April 1, 8 AM")
end_time = parser.parse("April 1, 5 PM")

In [ ]:
pd.date_range(start_time, end_time, freq='H')

Parse into start_time and end_time new columns. Use regex. Don't forget to get the months from the column names.

In [ ]:
def get_start_and_end_times(df, col):
#    strings = df[col]
#    for string in strings:
    for row in df[col]:
        df[col + ' Converted'] = re.split(' – ', row)

I need to account for the 'All day's and the 0s I replaced the NaNs with.

In [ ]:
def get_start_and_end_times(df, col):
#    strings = df[col]
#    for string in strings:
    for row in df[col]:
#        df[col + ' Start and End Time'] = []
        if row == 'All day':
            df[col + ' Start and End Time'][row] = ['12 AM', '12 AM']
        elif row == 0:
            df[col + ' Start and End Time'][row] = ['8 AM', '8 AM']
        else:
            df[col + ' Start and End Time'][row] = re.split(' – ', row)

In [ ]:
def get_start_and_end_times(df, col):
#    strings = df[col]
#    for string in strings:
    for row in df[col]:
#        df[col + ' Start and End Time'] = []
        if row.iloc == 'All day':
            df[col][row] = ['12 AM', '12 AM']
        elif row.iloc == 0:
            df[col][row] = ['8 AM', '8 AM']
        else:
            df[col][row] = re.split(' – ', row)

In [ ]:
def get_start_and_end_times(df, col):
#    strings = df[col]
#    for string in strings:
    for row in df[col]:
#        df[col + ' Start and End Time'] = []
        if row.iloc == 'All day':
            df[col][row] = ['12 AM', '12 AM']
        elif row.iloc == 0:
            df[col][row] = ['8 AM', '8 AM']
        else:
            df[col][row] = re.split(' – ', row)

In [ ]:
def get_start_and_end_times(df, col):
    df.loc[df[col] == 'All day'] = df[col] = ['12 AM', '12 AM']

In [88]:
def get_start_and_end_times(df, col):
    for i in df.loc[(df[col] != 'All day') & (df[col] != 0)].index.astype('str'):
        df[col][i] = re.split(' – ', i)
    for i in df.loc[df[col] == 'All day'].index:
        df.at[i, col] = '12 AM', '12 AM'
    for i in df.loc[df[col] == 0].index:
        df.at[i, col] = '8 AM', '8 AM'

In [101]:
def get_start_and_end_times(df, col):
    for i in df.loc[(df[col] != 'All day') & (df[col] != 0)].index.astype('str'):
        
    for i in df.loc[df[col] == 'All day'].index:
        df.at[i, col] = '12 AM', '12 AM'
    for i in df.loc[df[col] == 0].index:
        df.at[i, col] = '8 AM', '8 AM'

In [119]:
def get_start_and_end_times(df, col):
    for i in df.loc[(df[col] != 'All day') & (df[col] != 0)].index:
        df.at[i, col] = df.at[i, col].split(' – ')
    for i in df.loc[df[col] == 'All day'].index:
        df.at[i, col] = '12 AM', '12 AM'
    for i in df.loc[df[col] == 0].index:
        df.at[i, col] = '8 AM', '8 AM'

In [143]:
def get_start_and_end_times(df, col):
    for i in df.loc[(df[col] != 'All day') & (df[col] != 0)][col]:
        df.at[i, col] = tuple(filter(None, df.loc[i, col].split(' – ')))
    for i in df.loc[df[col] == 'All day'].index:
        df.at[i, col] = '12 AM', '12 AM'
    for i in df.loc[df[col] == 0].index:
        df.at[i, col] = '8 AM', '8 AM'

In [18]:
def get_start_and_end_times(df, col):
    for i in df.loc[(df[col] != 'All day') & (df[col] != 0)][col]:
        df.at[i, col] = tuple(filter(None, df.loc[i, col].split(' – ')))
    for i in df.loc[df[col] == 'All day'].index:
        df.at[i, col] = '12 AM', '12 AM'
    for i in df.loc[df[col] == 0].index:
        df.at[i, col] = '8 AM', '8 AM'

In [ ]:
#using .where()

In [116]:
test_df = insects.reset_index()
#test_df = get_start_and_end_times(test_df, 'NH Jan')
test_df.head()

,#,Name,Sell,Where/How,Weather,Total Catches to Unlock,Spawn Rates,NH Jan,NH Feb,NH Mar,...,SH May,SH Jun,SH Jul,SH Aug,SH Sep,SH Oct,SH Nov,SH Dec,Color 1,Color 2
0,10,agrias butterfly,3000,Flying near flowers,Any except rain,20,5,0,0,0,...,0,0,0,0,0,8 AM – 5 PM,8 AM – 5 PM,8 AM – 5 PM,Pink,Green
1,69,ant,80,On rotten turnips,Any weather,0,0,All day,All day,All day,...,All day,All day,All day,All day,All day,All day,All day,All day,Black,White
2,14,Atlas moth,3000,On trees (any kind),Any weather,20,5,0,0,0,...,0,0,0,0,0,7 PM – 4 AM,7 PM – 4 AM,7 PM – 4 AM,Orange,Yellow
3,68,bagworm,600,Shaking trees (hardwood or cedar only),Any weather,0,50,All day,All day,All day,...,All day,All day,All day,All day,All day,All day,All day,All day,Brown,Blue
4,34,banded dragonfly,4500,Flying near water,Any except rain,50,7,0,0,0,...,0,0,0,0,0,0,8 AM – 5 PM,8 AM – 5 PM,Black,Yellow

In [117]:
test_df.isna().sum()

#                          0
Name                       0
Sell                       0
Where/How                  0
Weather                    0
Total Catches to Unlock    0
Spawn Rates                0
NH Jan                     0
NH Feb                     0
NH Mar                     0
NH Apr                     0
NH May                     0
NH Jun                     0
NH Jul                     0
NH Aug                     0
NH Sep                     0
NH Oct                     0
NH Nov                     0
NH Dec                     0
SH Jan                     0
SH Feb                     0
SH Mar                     0
SH Apr                     0
SH May                     0
SH Jun                     0
SH Jul                     0
SH Aug                     0
SH Sep                     0
SH Oct                     0
SH Nov                     0
SH Dec                     0
Color 1                    0
Color 2                    0
dtype: int64

In [118]:
test_df['NH Jan'].value_counts()

0               60
All day         10
7 PM – 4 AM      2
7 PM – 8 AM      2
4 AM – 7 PM      1
5 PM – 8 AM      1
8 AM – 7 PM      1
8 AM – 5 PM      1
4 PM – 11 PM     1
11 PM – 4 PM     1
Name: NH Jan, dtype: int64

In [34]:
#test_df['NH Jan'] = test_df['NH Jan'].str.replace("\W+", " ", regex=True)

In [119]:
test_df['NH Jan'] = test_df['NH Jan'].str.replace("\W{2}", ",", regex=True)

In [50]:
def get_start_and_end_times(df, col):
    for i in df.loc[(df[col] != 'All day') & (df[col] != 0)][col]:
        df.at[i, col] = tuple(filter(None, df.loc[i, col].split(', ')))
    for i in df.loc[df[col] == 'All day'].index:
        df.at[i, col] = '12 AM', '12 AM'
    for i in df.loc[df[col] == 0].index:
        df.at[i, col] = '8 AM', '8 AM'

In [48]:
def get_start_and_end_times(df, col):
    for i in df.where((df[col] != 'All day') and (df[col] != 0)):
        df.at[i, col] = tuple(filter(None, df.loc[i, col].split(', ')))
#    for i in df.where[df[col] == 'All day'].index:
#        df.at[i, col] = '12 AM', '12 AM'
#    for i in df.where[df[col] == 0].index:
#        df.at[i, col] = '8 AM', '8 AM'

In [84]:
def get_start_and_end_times(df, col):
    for i in df[(df[col] != 'All day') & (df[col] != 0)]:
#        df.at[i, col] = tuple(filter(None, df.loc[i, col].split(', ')))
        all_day = df[(df[col] != 'All day') & (df[col] != 0)]
#    for i in df.where[df[col] == 'All day'].index:
#        df.at[i, col] = '12 AM', '12 AM'
#    for i in df.where[df[col] == 0].index:
#        df.at[i, col] = '8 AM', '8 AM'

In [95]:
#insects[(insects['NH Jan'] != 'All day') & (insects['NH Jan'] != 0)]['NH Jan'].str
#re.split("\W{2}", insects[(insects['NH Jan'] != 'All day') & (insects['NH Jan'] != 0)]['NH Jan'].str)

In [ ]:
def get_start_and_end_times(df, col):
    df.apply()

In [134]:
def handle_times(string):
    if string != 'All day' and string != '0':
        return string.split(',')
    elif string == 'All day':
        return ['12 AM', '12 AM']
    elif string == '0':
        return ['8 AM', '8 AM']
    else:
        return 
    
# passing function to apply and storing returned series in new 
df = insects
df['NH Jan'] = df['NH Jan'].str.replace("\W{2}", ",", regex=True)
df['NH Jan'] = df['NH Jan'].apply(handle_times)

df

AttributeError: 'float' object has no attribute 'split'

In [133]:
df['NH Jan'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

(8 AM, 8 AM)      60
(12 AM, 12 AM)    10
[7 PM,  8 AM]      2
[7 PM,  4 AM]      2
[4 AM,  7 PM]      1
[8 AM,  7 PM]      1
[8 AM,  5 PM]      1
[5 PM,  8 AM]      1
[4 PM,  11 PM]     1
[11 PM,  4 PM]     1
Name: NH Jan, dtype: int64

In [120]:
df.dtypes

Name                       object
Sell                        int64
Where/How                  object
Weather                    object
Total Catches to Unlock     int64
Spawn Rates                 int64
NH Jan                     object
NH Feb                     object
NH Mar                     object
NH Apr                     object
NH May                     object
NH Jun                     object
NH Jul                     object
NH Aug                     object
NH Sep                     object
NH Oct                     object
NH Nov                     object
NH Dec                     object
SH Jan                     object
SH Feb                     object
SH Mar                     object
SH Apr                     object
SH May                     object
SH Jun                     object
SH Jul                     object
SH Aug                     object
SH Sep                     object
SH Oct                     object
SH Nov                     object
SH Dec                     object
Color 1                    object
Color 2                    object
dtype: object

In [105]:
df['NH Jan'].value_counts()

All day       10
7 PM,8 AM      2
7 PM,4 AM      2
4 PM,11 PM     1
5 PM,8 AM      1
11 PM,4 PM     1
8 AM,7 PM      1
4 AM,7 PM      1
8 AM,5 PM      1
Name: NH Jan, dtype: int64

In [85]:
get_start_and_end_times(test_df, 'NH Jan')

KeyError: '#'

In [86]:
test_df

,#,Name,Sell,Where/How,Weather,Total Catches to Unlock,Spawn Rates,NH Jan,NH Feb,NH Mar,...,SH May,SH Jun,SH Jul,SH Aug,SH Sep,SH Oct,SH Nov,SH Dec,Color 1,Color 2
0,10,agrias butterfly,3000,Flying near flowers,Any except rain,20,5,NaN,0,0,...,0,0,0,0,0,8 AM – 5 PM,8 AM – 5 PM,8 AM – 5 PM,Pink,Green
1,69,ant,80,On rotten turnips,Any weather,0,0,All day,All day,All day,...,All day,All day,All day,All day,All day,All day,All day,All day,Black,White
2,14,Atlas moth,3000,On trees (any kind),Any weather,20,5,NaN,0,0,...,0,0,0,0,0,7 PM – 4 AM,7 PM – 4 AM,7 PM – 4 AM,Orange,Yellow
3,68,bagworm,600,Shaking trees (hardwood or cedar only),Any weather,0,50,All day,All day,All day,...,All day,All day,All day,All day,All day,All day,All day,All day,Brown,Blue
4,34,banded dragonfly,4500,Flying near water,Any except rain,50,7,NaN,0,0,...,0,0,0,0,0,0,8 AM – 5 PM,8 AM – 5 PM,Black,Yellow
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,67,walking leaf,600,Disguised under trees,Any weather,20,10,NaN,0,0,...,0,0,0,0,0,0,0,0,Green,Green
76,66,walking stick,600,On trees (any kind),Any weather,20,10,NaN,0,0,...,4 AM – 8 AM; 5 PM – 7 PM,0,0,0,0,0,0,0,Brown,Yellow
77,25,wasp,2500,Shaking trees,Any weather,0,0,All day,All day,All day,...,All day,All day,All day,All day,All day,All day,All day,All day,Yellow,Orange
78,71,wharf roach,200,On beach rocks,Any weather,0,20,All day,All day,All day,...,All day,All day,All day,All day,All day,All day,All day,All day,Beige,Blue
79,2,yellow butterfly,160,Flying,Any except rain,0,60,NaN,0,4 AM – 7 PM,...,0,0,0,0,4 AM – 7 PM,4 AM – 7 PM,4 AM – 7 PM,4 AM – 7 PM,Yellow,Blue

In [147]:
test_df['NH Jan'].value_counts()

0               60
All day         10
7 PM – 8 AM      2
7 PM – 4 AM      2
5 PM – 8 AM      1
8 AM – 5 PM      1
4 PM – 11 PM     1
11 PM – 4 PM     1
4 AM – 7 PM      1
8 AM – 7 PM      1
Name: NH Jan, dtype: int64

In [148]:
tuple(filter(None, '7 PM – 8 AM'.split(' – ')))

('7 PM', '8 AM')

In [156]:
for i in test_df.loc[(test_df['NH Jan'] != 'All day') & (test_df['NH Jan'] != 0)]['NH Jan']:
    print(i)
#    df.at[i, col] = tuple(filter(None, df.loc[i, col].split(' – ')))

4 PM – 11 PM
4 AM – 7 PM
5 PM – 8 AM
7 PM – 8 AM
7 PM – 4 AM
8 AM – 7 PM
11 PM – 4 PM
8 AM – 5 PM
7 PM – 8 AM
7 PM – 4 AM

In [ ]:
test_df.head()

In [155]:
test_df['NH Jan'].value_counts()

0               60
All day         10
7 PM – 8 AM      2
7 PM – 4 AM      2
5 PM – 8 AM      1
8 AM – 5 PM      1
4 PM – 11 PM     1
11 PM – 4 PM     1
4 AM – 7 PM      1
8 AM – 7 PM      1
Name: NH Jan, dtype: int64

In [ ]:
def get_start_and_end_times(df, col):
#    strings = df[col]
#    for string in strings:
    for row in df[col]:
        print(row)
        
get_start_and_end_times(insects, 'NH Jan')

I need to account for the 'All day's and the 0s I replaced the NaNs with.

In [ ]:
def convert_duration(df, col):
#    start_time = parser.parse("April 1, 8 AM")
#    end_time = parser.parse("April 1, 5 PM")

    start_date = datetime.date(year=2020, month=1, day=1)
    end_date   = datetime.date(year=2021, month=1,  day=1)

    current_date = start_date
    # Iterating over all dates from start date until end date including end date ("inclusive")
    while current_date <= end_date:
        # comment on function
        df[col + ' Converted'] = pd.date_range(start_time, end_time, freq='H')

        # Advancing current date by one day
        current_date += datetime.timedelta(days=1)

In [ ]:
re.match('^\d+( )..', '8 AM – 5 PM')

In [ ]:
re.match('\d+( )..$', '8 AM – 5 PM')

In [ ]:
re.split(' – ', '8 AM – 5 PM')

In [ ]:
# Looks cleaned up enough to head into data exploration.

### Feature Engineering

Spawn Rates explaination: https://www.reddit.com/r/AnimalCrossing/comments/gdl9p3/heres_a_chart_of_the_spawn_rates_of_every_fish/

Added feature explaination to come here...

In [ ]:
insects["SpawnRateSell"] = (insects['Spawn Rates'] / 100) * insects.Sell

### Exploratory Data Analysis

In [ ]:
insects.describe()

In [ ]:
moth_avg = insects[insects['Name'].str.contains('moth')].Sell.mean()
butterfly_avg = insects[insects['Name'].str.contains('butterfly')].Sell.mean()
beetle_avg = insects[insects['Name'].str.contains('beetle')].Sell.mean()
dragonfly_avg = insects[insects['Name'].str.contains('dragonfly')].Sell.mean()
stag_avg = insects[insects['Name'].str.contains('stag')].Sell.mean()
cicada_avg = insects[insects['Name'].str.contains('cicada')].Sell.mean()
horned_avg = insects[insects['Name'].str.contains('horned')].Sell.mean()
cricket_avg = insects[insects['Name'].str.contains('cricket')].Sell.mean()

In [ ]:
avg_worth_by_group_insects = pd.DataFrame([moth_avg, butterfly_avg, beetle_avg, dragonfly_avg, stag_avg, cicada_avg, horned_avg, cricket_avg], 
                                          ['moth', 'butterfly', 'beetle', 'dragonfly', 'stag', 'cicada', 'horned', 'cricket'])
avg_worth_by_group_insects = avg_worth_by_group_insects.rename(columns={0: "avg_worth"})

avg_worth_by_group_insects.sort_values(by="avg_worth", ascending=False).plot.bar()
plt.title("Average Sell Values of Insects by Group")
plt.xlabel("Insect Group")
plt.ylabel("Bells")

In [ ]:
insects.columns

In [ ]:
insects[["SpawnRateSell", 'Name']].set_index('Name').sort_values(by="SpawnRateSell", ascending=False).head(12).plot.bar()

plt.title("Spawn Rates / Value in Bells")
plt.xlabel("Insect")
plt.ylabel("Adjusted Value in Bells")

In [ ]:
#insects.sort_values(by="Spawn Rates", ascending=False).tail(16)

In [ ]:
#insects.sort_values(by="SpawnRateSell", ascending=False).head(12)

### Recommendations:

Giant Stag and Firefly give the best value in bells for how frequently they appear.

With the data that I've analyzed so far, I'd recommend hunting for bugs on the beach near palm trees.