# It's Raining Bells, Hallelujah!

## A guide to living large in Animal Crossing: New Horizons

### by Kwame V. Taylor

It's Raining Bells, Hallelujah is data-driven guide to getting rich and staying rich with maximized efficiency on the Nintendo Switch video game, Animal Crossing: New Horizons.

Bells are the currency used in the video game, Animal Crossing: New Horizons. Users can buy and sell items using bells, as well as exchange bells and items with both in-game characters (also known as Non-Playable Characters, or NPCs) and other users.

<img src="https://mcsun.org/wp-content/uploads/2020/05/Banner-Animal-Crossing-New-Horizons.jpg">

## Insects Analysis

### Set up environment

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# default viz size settings
plt.rc('figure', figsize=(9, 7))
plt.rc('font', size=13)

from dateutil import parser
import datetime
import re

from wrangle import wrangle_insects

### Acquire and Prepare Data

Let's look at insects. I already know that people love to bank big on catching tarantulas and scorpions.

In [24]:
insects = wrangle_insects()

True

In [3]:
insects.head(3)

,Name,Sell,Where/How,Weather,Total Catches to Unlock,Spawn Rates,NH Jan,NH Feb,NH Mar,NH Apr,...,SH May,SH Jun,SH Jul,SH Aug,SH Sep,SH Oct,SH Nov,SH Dec,Color 1,Color 2
#,,,,,,,,,,,,,,,,,,,,,
10,agrias butterfly,3000,Flying near flowers,Any except rain,20,5,0,0,0,8 AM – 5 PM,...,0,0,0,0,0,8 AM – 5 PM,8 AM – 5 PM,8 AM – 5 PM,Pink,Green
69,ant,80,On rotten turnips,Any weather,0,0,All day,All day,All day,All day,...,All day,All day,All day,All day,All day,All day,All day,All day,Black,White
14,Atlas moth,3000,On trees (any kind),Any weather,20,5,0,0,0,7 PM – 4 AM,...,0,0,0,0,0,7 PM – 4 AM,7 PM – 4 AM,7 PM – 4 AM,Orange,Yellow

### Convert appearance durations to timestamps

Now I want to turn columns ```NH Jan``` (NH meaning Northern Hemisphere) through ```SH Dec``` (SH meaning Southern Hemisphere) into durational timestamps so I can perform time-series analysis.

I'll use this guide as a reference: https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html

Parse into start_time and end_time new columns. Don't forget to get the months from the column names. I need to account for the 'All day's and the 0s I replaced the NaNs with.

In [4]:
insects.columns

Index(['Name', 'Sell', 'Where/How', 'Weather', 'Total Catches to Unlock',
       'Spawn Rates', 'NH Jan', 'NH Feb', 'NH Mar', 'NH Apr', 'NH May',
       'NH Jun', 'NH Jul', 'NH Aug', 'NH Sep', 'NH Oct', 'NH Nov', 'NH Dec',
       'SH Jan', 'SH Feb', 'SH Mar', 'SH Apr', 'SH May', 'SH Jun', 'SH Jul',
       'SH Aug', 'SH Sep', 'SH Oct', 'SH Nov', 'SH Dec', 'Color 1', 'Color 2'],
      dtype='object')

In [25]:
insects['NH Jan'].value_counts()

0               60
All day         10
7 PM – 8 AM      2
7 PM – 4 AM      2
4 PM – 11 PM     1
5 PM – 8 AM      1
11 PM – 4 PM     1
8 AM – 5 PM      1
8 AM – 7 PM      1
4 AM – 7 PM      1
Name: NH Jan, dtype: int64

In [31]:
def get_start_and_end_times(df):
    def handle_times(string):
        # if the string is a time range
        if string != 'All day' and string != 0:
            return string.str.split(',')
        elif string == 'All day':
            return ['12 AM', '12 AM']
        elif string == '0':
            return ['8 AM', '8 AM']
        else:
            return 

    # passing function to apply and storing returned series overwriting old
    month_cols = ['NH Jan', 'NH Feb', 'NH Mar', 'NH Apr', 'NH May', 'NH Jun', 'NH Jul', 'NH Aug', 'NH Sep', 'NH Oct', 'NH Nov', 'NH Dec', 'SH Jan', 'SH Feb', 'SH Mar', 'SH Apr', 'SH May', 'SH Jun', 'SH Jul', 'SH Aug', 'SH Sep', 'SH Oct', 'SH Nov', 'SH Dec']
    for col in month_cols:
        # replace the delimiter of '-' with ',' to make easier to split
        df[col] = df[col].str.replace("\W{2}", ",", regex=True)
        # convert times into a two-element array represents the date range
        df[col] = df[col].apply(handle_times)
    
    return df

In [32]:
insects = get_start_and_end_times(insects)

AttributeError: 'float' object has no attribute 'str'

In [17]:
# passing function to apply and storing returned series overwriting old
df = insects
month_cols = ['NH Jan', 'NH Feb', 'NH Mar', 'NH Apr', 'NH May', 'NH Jun', 'NH Jul', 'NH Aug', 'NH Sep', 'NH Oct', 'NH Nov', 'NH Dec', 'SH Jan', 'SH Feb', 'SH Mar', 'SH Apr', 'SH May', 'SH Jun', 'SH Jul', 'SH Aug', 'SH Sep', 'SH Oct', 'SH Nov', 'SH Dec']
for col in month_cols:
#    df[col] = 
    print(df[month].str.replace("\W{2}", ",", regex=True))
#    df[col] = 
#    print(df[col].apply(handle_times))

#
10    8 AM, 5 PM
69       All day
14    7 PM, 4 AM
68       All day
34    8 AM, 5 PM
         ...
67           NaN
66           NaN
25       All day
71       All day
2     4 AM, 7 PM
Name: SH Dec, Length: 80, dtype: object
#
10    8 AM, 5 PM
69       All day
14    7 PM, 4 AM
68       All day
34    8 AM, 5 PM
         ...
67           NaN
66           NaN
25       All day
71       All day
2     4 AM, 7 PM
Name: SH Dec, Length: 80, dtype: object
#
10    8 AM, 5 PM
69       All day
14    7 PM, 4 AM
68       All day
34    8 AM, 5 PM
         ...
67           NaN
66           NaN
25       All day
71       All day
2     4 AM, 7 PM
Name: SH Dec, Length: 80, dtype: object
#
10    8 AM, 5 PM
69       All day
14    7 PM, 4 AM
68       All day
34    8 AM, 5 PM
         ...
67           NaN
66           NaN
25       All day
71       All day
2     4 AM, 7 PM
Name: SH Dec, Length: 80, dtype: object
#
10    8 AM, 5 PM
69       All day
14    7 PM, 4 AM
68       All day
34    8 AM, 5 PM
         ...
67           NaN
66           NaN
25       All day
71       All day
2     4 AM, 7 PM
Name: SH Dec, Length: 80, dtype: object
#
10    8 AM, 5 PM
69       All day
14    7 PM, 4 AM
68       All day
34    8 AM, 5 PM
         ...
67           NaN
66           NaN
25       All day
71       All day
2     4 AM, 7 PM
Name: SH Dec, Length: 80, dtype: object
#
10    8 AM, 5 PM
69       All day
14    7 PM, 4 AM
68       All day
34    8 AM, 5 PM
         ...
67           NaN
66           NaN
25       All day
71       All day
2     4 AM, 7 PM
Name: SH Dec, Length: 80, dtype: object
#
10    8 AM, 5 PM
69       All day
14    7 PM, 4 AM
68       All day
34    8 AM, 5 PM
         ...
67           NaN
66           NaN
25       All day
71       All day
2     4 AM, 7 PM
Name: SH Dec, Length: 80, dtype: object
#
10    8 AM, 5 PM
69       All day
14    7 PM, 4 AM
68       All day
34    8 AM, 5 PM
         ...
67           NaN
66           NaN
25       All day
71       All day
2     4 AM, 7 PM
Name: SH Dec, Length: 80, dtype: object
#
10    8 AM, 5 PM
69       All day
14    7 PM, 4 AM
68       All day
34    8 AM, 5 PM
         ...
67           NaN
66           NaN
25       All day
71       All day
2     4 AM, 7 PM
Name: SH Dec, Length: 80, dtype: object
#
10    8 AM, 5 PM
69       All day
14    7 PM, 4 AM
68       All day
34    8 AM, 5 PM
         ...
67           NaN
66           NaN
25       All day
71       All day
2     4 AM, 7 PM
Name: SH Dec, Length: 80, dtype: object
#
10    8 AM, 5 PM
69       All day
14    7 PM, 4 AM
68       All day
34    8 AM, 5 PM
         ...
67           NaN
66           NaN
25       All day
71       All day
2     4 AM, 7 PM
Name: SH Dec, Length: 80, dtype: object
#
10    8 AM, 5 PM
69       All day
14    7 PM, 4 AM
68       All day
34    8 AM, 5 PM
         ...
67           NaN
66           NaN
25       All day
71       All day
2     4 AM, 7 PM
Name: SH Dec, Length: 80, dtype: object
#
10    8 AM, 5 PM
69       All day
14    7 PM, 4 AM
68       All day
34    8 AM, 5 PM
         ...
67           NaN
66           NaN
25       All day
71       All day
2     4 AM, 7 PM
Name: SH Dec, Length: 80, dtype: object
#
10    8 AM, 5 PM
69       All day
14    7 PM, 4 AM
68       All day
34    8 AM, 5 PM
         ...
67           NaN
66           NaN
25       All day
71       All day
2     4 AM, 7 PM
Name: SH Dec, Length: 80, dtype: object
#
10    8 AM, 5 PM
69       All day
14    7 PM, 4 AM
68       All day
34    8 AM, 5 PM
         ...
67           NaN
66           NaN
25       All day
71       All day
2     4 AM, 7 PM
Name: SH Dec, Length: 80, dtype: object
#
10    8 AM, 5 PM
69       All day
14    7 PM, 4 AM
68       All day
34    8 AM, 5 PM
         ...
67           NaN
66           NaN
25       All day
71       All day
2     4 AM, 7 PM
Name: SH Dec, Length: 80, dtype: object
#
10    8 AM, 5 PM
69       All day
14    7 PM, 4 AM
68       All day
34    8 AM, 5 PM
         ...
67           NaN
66           NaN
25       All day
71       All day
2     4 AM, 7 PM
Name: SH Dec, Length: 80, dtype: object
#
10    8 AM, 5 PM
69       All day
14    7 PM, 4 AM
68       All day
34    8 AM, 5 PM
         ...
67           NaN
66           NaN
25       All day
71       All day
2     4 AM, 7 PM
Name: SH Dec, Length: 80, dtype: object
#
10    8 AM, 5 PM
69       All day
14    7 PM, 4 AM
68       All day
34    8 AM, 5 PM
         ...
67           NaN
66           NaN
25       All day
71       All day
2     4 AM, 7 PM
Name: SH Dec, Length: 80, dtype: object
#
10    8 AM, 5 PM
69       All day
14    7 PM, 4 AM
68       All day
34    8 AM, 5 PM
         ...
67           NaN
66           NaN
25       All day
71       All day
2     4 AM, 7 PM
Name: SH Dec, Length: 80, dtype: object
#
10    8 AM, 5 PM
69       All day
14    7 PM, 4 AM
68       All day
34    8 AM, 5 PM
         ...
67           NaN
66           NaN
25       All day
71       All day
2     4 AM, 7 PM
Name: SH Dec, Length: 80, dtype: object
#
10    8 AM, 5 PM
69       All day
14    7 PM, 4 AM
68       All day
34    8 AM, 5 PM
         ...
67           NaN
66           NaN
25       All day
71       All day
2     4 AM, 7 PM
Name: SH Dec, Length: 80, dtype: object
#
10    8 AM, 5 PM
69       All day
14    7 PM, 4 AM
68       All day
34    8 AM, 5 PM
         ...
67           NaN
66           NaN
25       All day
71       All day
2     4 AM, 7 PM
Name: SH Dec, Length: 80, dtype: object

In [11]:
insects['NH Jan'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[12 AM, 12 AM]    10
Name: NH Jan, dtype: int64

Now convert into a Pandas date range.

In [ ]:
def convert_duration(df, col):
    def get_month(string):
        if col.contains('Jan'):
        
    df[col + ' Start'] = pd.date_range(start_date, end_date)

In [ ]:
# convert strings 'NH Apr' plus '8 AM – 5 PM' to a timestamp

start_date = parser.parse("April 1, 8 AM")
end_date = parser.parse("April 1, 5 PM")

start_date = parser.parse("April 1, 8 AM")
end_date = parser.parse("April 1, 5 PM")

In [ ]:
pd.date_range(start_date, end_date, freq='H')

In [ ]:
def convert_duration(df, col):
#    start_time = parser.parse("April 1, 8 AM")
#    end_time = parser.parse("April 1, 5 PM")

    start_date = datetime.date(year=2020, month=1, day=1)
    end_date   = datetime.date(year=2021, month=1,  day=1)

    current_date = start_date
    # Iterating over all dates from start date until end date including end date ("inclusive")
    while current_date <= end_date:
        # comment on function
        df[col + ' Converted'] = pd.date_range(start_time, end_time, freq='H')

        # Advancing current date by one day
        current_date += datetime.timedelta(days=1)

Looks cleaned up enough to head into data exploration.

### Feature Engineering

Spawn Rates explaination: https://www.reddit.com/r/AnimalCrossing/comments/gdl9p3/heres_a_chart_of_the_spawn_rates_of_every_fish/

Added feature explaination to come here...

In [ ]:
insects["SpawnRateSell"] = (insects['Spawn Rates'] / 100) * insects.Sell

### Exploratory Data Analysis

In [ ]:
insects.describe()

In [ ]:
moth_avg = insects[insects['Name'].str.contains('moth')].Sell.mean()
butterfly_avg = insects[insects['Name'].str.contains('butterfly')].Sell.mean()
beetle_avg = insects[insects['Name'].str.contains('beetle')].Sell.mean()
dragonfly_avg = insects[insects['Name'].str.contains('dragonfly')].Sell.mean()
stag_avg = insects[insects['Name'].str.contains('stag')].Sell.mean()
cicada_avg = insects[insects['Name'].str.contains('cicada')].Sell.mean()
horned_avg = insects[insects['Name'].str.contains('horned')].Sell.mean()
cricket_avg = insects[insects['Name'].str.contains('cricket')].Sell.mean()

In [ ]:
avg_worth_by_group_insects = pd.DataFrame([moth_avg, butterfly_avg, beetle_avg, dragonfly_avg, stag_avg, cicada_avg, horned_avg, cricket_avg], 
                                          ['moth', 'butterfly', 'beetle', 'dragonfly', 'stag', 'cicada', 'horned', 'cricket'])
avg_worth_by_group_insects = avg_worth_by_group_insects.rename(columns={0: "avg_worth"})

avg_worth_by_group_insects.sort_values(by="avg_worth", ascending=False).plot.bar()
plt.title("Average Sell Values of Insects by Group")
plt.xlabel("Insect Group")
plt.ylabel("Bells")

In [ ]:
insects.columns

In [ ]:
insects[["SpawnRateSell", 'Name']].set_index('Name').sort_values(by="SpawnRateSell", ascending=False).head(12).plot.bar()

plt.title("Spawn Rates / Value in Bells")
plt.xlabel("Insect")
plt.ylabel("Adjusted Value in Bells")

In [ ]:
#insects.sort_values(by="Spawn Rates", ascending=False).tail(16)

In [ ]:
#insects.sort_values(by="SpawnRateSell", ascending=False).head(12)

### Recommendations:

Giant Stag and Firefly give the best value in bells for how frequently they appear.

With the data that I've analyzed so far, I'd recommend hunting for bugs on the beach near palm trees.