# It's Raining Bells, Hallelujah!

<img src="https://mcsun.org/wp-content/uploads/2020/05/Banner-Animal-Crossing-New-Horizons.jpg">

## A guide to living large in Animal Crossing: New Horizons

### by Kwame V. Taylor

It's Raining Bells, Hallelujah is data-driven guide to getting rich and staying rich with maximized efficiency on the Nintendo Switch video game, Animal Crossing: New Horizons.

Bells are the currency used in the video game, Animal Crossing: New Horizons. Users can buy and sell items using bells, as well as exchange bells and items with both in-game characters (also known as Non-Playable Characters, or NPCs) and other users.

### Set up environment

In [2]:
import pandas as pd
import numpy as np

### Acquire data

Let's look at insects first, since I already know that people love to bank big on catching tarantulas and scorpions.

In [3]:
insects = pd.read_csv('insects.csv')

In [4]:
insects.sort_values(by="Sell", ascending=False).head(6)

,#,Name,Sell,Where/How,Weather,Total Catches to Unlock,Spawn Rates,NH Jan,NH Feb,NH Mar,...,SH Oct,SH Nov,SH Dec,Color 1,Color 2,Icon Filename,Critterpedia Filename,Furniture Filename,Internal ID,Unique Entry ID
29,61,giraffe stag,12000,On palm trees,Any weather,100,1,NaN,NaN,NaN,...,NaN,NaN,NaN,Black,Black,Ins77,InsectGirafanokogirikuwagata,FtrInsectGirafanokogirikuwagata,3482,PSChjzMhGwhnsHTs4
30,60,golden stag,12000,On palm trees,Any weather,100,1,NaN,NaN,NaN,...,NaN,NaN,NaN,Black,Yellow,Ins50,InsectOugononikuwagata,FtrInsectOugononikuwagata,638,2C8cSphidFCBPxYEe
39,65,horned hercules,12000,On palm trees,Any weather,100,1,NaN,NaN,NaN,...,NaN,NaN,NaN,Yellow,Black,Ins54,InsectHerakuresuohkabuto,FtrInsectHerakuresuohkabuto,600,TqhEomNEMDZ2wcTpk
65,52,scarab beetle,10000,On trees (any kind),Any weather,50,3,NaN,NaN,NaN,...,NaN,NaN,NaN,Black,Beige,Ins43,InsectPurachinakogane,FtrInsectPurachinakogane,639,2HXdFD8s6BmYYMf4u
27,57,giant stag,10000,On trees (any kind),Any weather,50,5,NaN,NaN,NaN,...,NaN,NaN,NaN,Black,Black,Ins47,InsectOhkuwagata,FtrInsectOhkuwagata,637,KhrTLzayFz23zz2kn
31,54,goliath beetle,8000,On palm trees,Any weather,100,2,NaN,NaN,NaN,...,NaN,NaN,5 PM – 8 AM,Red,Black,Ins55,InsectGoraiasuohtsunohanamuguri,FtrInsectGoraiasuohtsunohanamuguri,596,wZQMZfhtRyPFAapmF

### Prepare data

First I'll set the index to #.

In [5]:
insects = insects.set_index('#')

Then I'll drop some of the columns I won't be using.

In [8]:
insects = insects.drop(columns=['Icon Filename', 'Critterpedia Filename', 'Furniture Filename',
       'Internal ID', 'Unique Entry ID'])

And impute NaNs with 0s.

In [10]:
insects = insects.fillna(0)

In [30]:
insects.isna().sum()

Name                       0
Sell                       0
Where/How                  0
Weather                    0
Total Catches to Unlock    0
Spawn Rates                0
NH Jan                     0
NH Feb                     0
NH Mar                     0
NH Apr                     0
NH May                     0
NH Jun                     0
NH Jul                     0
NH Aug                     0
NH Sep                     0
NH Oct                     0
NH Nov                     0
NH Dec                     0
SH Jan                     0
SH Feb                     0
SH Mar                     0
SH Apr                     0
SH May                     0
SH Jun                     0
SH Jul                     0
SH Aug                     0
SH Sep                     0
SH Oct                     0
SH Nov                     0
SH Dec                     0
Color 1                    0
Color 2                    0
dtype: int64

In [12]:
insects.head(3)

,Name,Sell,Where/How,Weather,Total Catches to Unlock,Spawn Rates,NH Jan,NH Feb,NH Mar,NH Apr,...,SH May,SH Jun,SH Jul,SH Aug,SH Sep,SH Oct,SH Nov,SH Dec,Color 1,Color 2
#,,,,,,,,,,,,,,,,,,,,,
10,agrias butterfly,3000,Flying near flowers,Any except rain,20,5,0,0,0,8 AM – 5 PM,...,0,0,0,0,0,8 AM – 5 PM,8 AM – 5 PM,8 AM – 5 PM,Pink,Green
69,ant,80,On rotten turnips,Any weather,0,0,All day,All day,All day,All day,...,All day,All day,All day,All day,All day,All day,All day,All day,Black,White
14,Atlas moth,3000,On trees (any kind),Any weather,20,5,0,0,0,7 PM – 4 AM,...,0,0,0,0,0,7 PM – 4 AM,7 PM – 4 AM,7 PM – 4 AM,Orange,Yellow

Looks cleaned up enough to head into data exploration.

### Exploratory Data Analysis

In [38]:
moth_avg = insects[insects['Name'].str.contains('moth')].Sell.mean()
butterfly_avg = insects[insects['Name'].str.contains('butterfly')].Sell.mean()

In [50]:
avg_worth_by_group_insects = pd.DataFrame([moth_avg, butterfly_avg], ['moth', 'butterfly'])
avg_worth_by_group_insects = avg_worth_by_group_insects.rename(columns={0: "avg_worth"})

avg_worth_by_group_insects

             avg_worth
moth       1876.666667
butterfly  1400.000000

### Feature Engineering

Idea for feature engineering: Sell / Spawn Rates