In this notebook I'll be practicing joining different datasets, using the datasets I have on Animal Crossing: New Horizons.

In [2]:
import pandas as pd
import numpy as np

First I'm going to make a ```wrangle.py``` to put functions from the insects notebook in so I can reproduce that process here easily.

In [1]:
from wrangle import wrangle_insects

In [2]:
insects = wrangle_insects()

In [4]:
insects.head(3)

,Name,Sell,Where/How,Weather,Total Catches to Unlock,Spawn Rates,NH Jan,NH Feb,NH Mar,NH Apr,...,SH May,SH Jun,SH Jul,SH Aug,SH Sep,SH Oct,SH Nov,SH Dec,Color 1,Color 2
#,,,,,,,,,,,,,,,,,,,,,
10,agrias butterfly,3000,Flying near flowers,Any except rain,20,5,0,0,0,8 AM – 5 PM,...,0,0,0,0,0,8 AM – 5 PM,8 AM – 5 PM,8 AM – 5 PM,Pink,Green
69,ant,80,On rotten turnips,Any weather,0,0,All day,All day,All day,All day,...,All day,All day,All day,All day,All day,All day,All day,All day,Black,White
14,Atlas moth,3000,On trees (any kind),Any weather,20,5,0,0,0,7 PM – 4 AM,...,0,0,0,0,0,7 PM – 4 AM,7 PM – 4 AM,7 PM – 4 AM,Orange,Yellow

In [3]:
fish = pd.read_csv('fish.csv')
fish

,#,Name,Sell,Where/How,Shadow,Total Catches to Unlock,Spawn Rates,Rain/Snow Catch Up,NH Jan,NH Feb,...,SH Dec,Color 1,Color 2,Size,Lighting Type,Icon Filename,Critterpedia Filename,Furniture Filename,Internal ID,Unique Entry ID
0,56,anchovy,200,Sea,Small,0,2–5,No,4 AM – 9 PM,4 AM – 9 PM,...,4 AM – 9 PM,Blue,Red,1x1,No lighting,Fish81,FishAntyobi,FtrFishAntyobi,4201,LzuWkSQP55uEpRCP5
1,36,angelfish,3000,River,Small,20,2–5,No,NaN,NaN,...,4 PM – 9 AM,Yellow,Black,1x1,Fluorescent,Fish30,FishAngelfish,FtrFishAngelfish,2247,XTCFCk2SiuY5YXLZ7
2,44,arapaima,10000,River,XX-Large,50,1,Yes,NaN,NaN,...,4 PM – 9 AM,Black,Blue,3x2,No lighting,Fish36,FishPiraruku,FtrFishPiraruku,2253,mZy4BES54bqwi97br
3,41,arowana,10000,River,Large,50,1–2,No,NaN,NaN,...,4 PM – 9 AM,Yellow,Black,2x1,Fluorescent,Fish33,FishArowana,FtrFishArowana,2250,F68AvCaqddBJL7ZSN
4,58,barred knifejaw,5000,Sea,Medium,20,3–5,No,NaN,NaN,...,All day,White,Black,1x1,Fluorescent,Fish47,FishIshidai,FtrFishIshidai,2265,X3R9SFSAaDzBF4fE3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,23,tilapia,800,River,Medium,0,7–9,No,NaN,NaN,...,All day,Black,Black,1x1,Fluorescent,Fish76,FishThirapia,FtrFishThirapia,4190,as78rnkwY3ahrTkBY
76,66,tuna,7000,Pier,XX-Large,50,2,Yes,All day,All day,...,NaN,Blue,Black,2x1,Fluorescent,Fish57,FishMaguro,FtrFishMaguro,2274,4PnGXx9DSb866AeCM
77,75,whale shark,13000,Sea,Large w/Fin,50,1,Yes,NaN,NaN,...,All day,Black,Blue,3x2,No lighting,Fish72,FishJinbeezame,FtrFishJinbee,2282,r3RAtJsXENwnFvQh7
78,21,yellow perch,300,River,Medium,0,7–10,No,All day,All day,...,NaN,Yellow,Black,1x1,Fluorescent,Fish18,FishYellowparch,FtrFishYellowparch,2233,bLgE5dicZniF5zZDW
79,53,zebra turkeyfish,500,Sea,Medium,0,6–8,No,NaN,NaN,...,All day,Red,Black,1x1,Fluorescent,Fish44,FishMinokasago,FtrFishMinokasago,2261,h7fa7Fh3Ay7vAxgE2

Now, I will clean up the fish df and create a wrangle function in my notebook, ```fish-analysis.ipynb```.